<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blankm</title>
    <style>
        body{
        background-color: #222222;
        color: #eeeeee;
        letter-spacing: 0.35px;
        }
        .invis{
        color: #222222;
        }
        .invis:visited{
        color: #222222;
        }
        .mt{
        margin-top: 45%;
        }
    </style>
</head>
<body>
<div class="mt"><a href="{{url_for('index')}}" class="invis"><- Повернутись</a></div>
</body>
</html>